<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/submit" method="post" id="formDiv">
        <input type="text" name="task" id="task" placeholder="Task (&lt;20 letters)">
        <!-- <input type="text" id="desc" placeholder="Description"> -->
        <textarea name="desc" id="desc" cols="5" placeholder="Description (&lt;100 letters)."></textarea>
        <button>Add</button>
    </form>
    <script src="./app.js"></script>
</body>

</html>